
{% extends 'core/base.html'%}
{%block title%}GuideLine{%endblock%}
{%block head%}
{% load static %}
<link rel="stylesheet" href="{% static 'guideline.css' %}">

{%endblock%}
{%block content%}
<h1 style="background-color: rgb(20, 20, 20); margin: -0px;">
        
    <span class="magic">
      <span class="magic-star">
        <svg viewBox="0 0 512 512">
        <path d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z" />
        </svg>
      </span>
      <span class="magic-star">
        <svg viewBox="0 0 512 512">
        <path d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z" />
        </svg>
      </span>
      <span class="magic-star">
        <svg viewBox="0 0 512 512">
        <path d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z" />
        </svg>
      </span>
      <span class="magic-text">GuideLine</span>
    </span>
    
  </h1>
<div class="bodydiv">
    
<div id="cardsgg">
    
    <div class="cardgg wow animate__bounceIn"  >
        
      <div class="card-contentgg">
        <div class="card-imagegg">
          <i class="fa-duotone fa-apartment"><ion-icon name="home-outline"></ion-icon></i>
        </div>
        <div class="card-info-wrappergg">
            
          <div class="card-infogg">
            <i class="fa-duotone fa-apartment"></i>
            <div class="card-info-titlegg">
              <h3>Home</h3>  
              <h4>Come to see other`s people items</h4>
            </div>    
          </div>
          
        </div>
      </div>
      
    </div>


    <div class="cardgg wow animate__bounceIn">
        <div class="card-contentgg">
          <div class="card-imagegg">
            <i class="fa-duotone fa-apartment"><ion-icon name="add-outline"></ion-icon></ion-icon></i>
          </div>
          <div class="card-info-wrappergg">
            <div class="card-infogg">
              <i class="fa-duotone fa-apartment"></i>
              <div class="card-info-titlegg">
                <h3>Add Item</h3>  
                <h4>Create an item to sell it</h4>
              </div>    
            </div>
          </div>
        </div>
        
      </div>
  
   
      <div class="cardgg wow animate__bounceIn" >
        <div class="card-contentgg">
          <div class="card-imagegg">
            <i class="fa-duotone fa-apartment"><ion-icon name="search-outline"></ion-icon></i>
          </div>
          <div class="card-info-wrappergg">
            <div class="card-infogg">
              <i class="fa-duotone fa-apartment"></i>
              <div class="card-info-titlegg">
                <h3>Search</h3>  
                <h4>Find What u want</h4>
              </div>    
            </div>
          </div>
        </div>
        
      </div>
   
    
      <div class="cardgg wow animate__bounceIn">
        <div class="card-contentgg">
          <div class="card-imagegg">
            <i class="fa-duotone fa-apartment"><ion-icon name="clipboard-outline"></ion-icon></i>
          </div>
          <div class="card-info-wrappergg">
            <div class="card-infogg">
              <i class="fa-duotone fa-apartment"></i>
              <div class="card-info-titlegg">
                <h3>DashBoard</h3>  
                <h4>Track your Offers</h4>
              </div>    
            </div>
          </div>
        </div>
        
      </div>
  
   
      <div class="cardgg wow animate__bounceIn">
        <div class="card-contentgg">
          <div class="card-imagegg">
            <i class="fa-duotone fa-apartment"><ion-icon name="chatbox-outline"></ion-icon></i>
          </div>
          <div class="card-info-wrappergg">
            <div class="card-infogg">
              <i class="fa-duotone fa-apartment"></i>
              <div class="card-info-titlegg">
                <h3>Chat</h3>  
                <h4>Conversation with users</h4>
              </div>    
            </div>
          </div>
        </div>
        
      </div>
   
   
      <div class="cardgg wow animate__bounceIn">
        <div class="card-contentgg">
          <div class="card-imagegg">
            <i class="fa-duotone fa-apartment"><ion-icon name="log-out-outline"></ion-icon></i>
          </div>
          <div class="card-info-wrappergg">
            <div class="card-infogg">
              <i class="fa-duotone fa-apartment"></i>
              <div class="card-info-titlegg">
                <h3>Logout</h3>  
                <h4>leave your account</h4>
              </div>    
            </div>
          </div>
        </div>
        
      </div>
 
      
      <div class="cardgg wow animate__bounceIn">
        <div class="card-contentgg">
          <div class="card-imagegg">
            <i class="fa-duotone fa-apartment"><ion-icon name="person-outline"></ion-icon></i>
          </div>
          <div class="card-info-wrappergg">
            <div class="card-infogg">
              <i class="fa-duotone fa-apartment"></i>
              <div class="card-info-titlegg">
                <h3>Login</h3>  
                <h4>If u dont `ve an account u can sign in</h4>
              </div>    
            </div>
          </div>
        </div>
        
      </div>
   
    
    
  </div>
  
  
</div>
  <script>
    document.getElementById("cardsgg").onmousemove = e => {
  for(const card of document.getElementsByClassName("cardgg")) {
    const rect = card.getBoundingClientRect(),
          x = e.clientX - rect.left,
          y = e.clientY - rect.top;

    card.style.setProperty("--mouse-x", `${x}px`);
    card.style.setProperty("--mouse-y", `${y}px`);
  };
}
  </script>
{%endblock%}